body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    background: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

button {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: green;
}
